body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1.2s linear infinite alternate;
}

.skeleton-loading-outer-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.skeleton-container {
  height: 280px;
  width: 200px;
  padding: 10px;
  border: 2px solid #bbbbbb79;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 #0000000c, 0 6px 15px 0 #00000005;
}

.skeleton-question-text {
  width: 100%;
  height: 0.3rem;
  margin-bottom: 0.1rem;
  margin-top: 0.8rem;
  background-color: hsl(200, 20%, 70%);
  border-radius: 3px;
}
.row-2 {
  width: 70%;
}

.skeleton-option-text {
  width: 40%;
  height: 0.2rem;
  margin-bottom: 0.1rem;
  margin-top: 0.8rem;
  background-color: hsl(200, 20%, 70%);
  border-radius: 3px;
}

.loading-text {
  margin-top: 2rem;
  font-size: larger;
  text-align: center;
}

.user-pdf-download-btn {
  background-color: #01a675;
  padding: 1rem 2rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
