body {
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #071A52;
  background: #F6F7FB;
}
@media screen and (max-width: 580px) {
  body {
    font-size: 16px;
    line-height: 22px;
  }
}

.heading {
  display: flex;
  font-family: 'Space Grotesk', sans-serif;
  justify-content: space-between;
  font-size: 24px;
  font-weight: 500;
  color: #071A52;
  padding-left: 30px;
  padding-right: 30px; 
  padding-top: 40px; 
}

.wrapper {
  margin: 20px 30px;
  padding: 10px 0;
  /* max-width: 800px; */
  border-radius: 10px;
  background: white;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2), 0 -1px 3px rgba(0, 0, 0, 0.2);
}



.table {
  /* background: #faf9f6; */
  margin: 0 0 20px 0;
  width: 100%;
  display: table;
  border-collapse: collapse;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  /* display: table-row; */
  /* background: #fff5ee; */
  border-bottom: 1px solid #ebeff0;
  position: relative;
  color: #071A52;
  font-weight: 500;
}

.row:hover {
  cursor: pointer;
  background-color: #F0FFF0;
}




/* .row:nth-of-type(odd) {
  background: #e9e9e9;
} */
.row.header {
  font-size: 12px;
  font-weight: 900;
  color: rgba(7, 26, 82, 0.9);;
  position: relative;
  /* background: #fff5ee; */
}
.row.header:hover {
  cursor: auto;
  background-color: white;
}

@media screen and (max-width: 580px) {
  .row {
    padding: 14px 0 7px;
    display: block;
  }
  .row.header {
    padding: 0;
    height: 6px;
  }
  .row.header .cell {
    display: none;
  }
  .row .cell {
    margin-bottom: 10px;
  }
  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

.client_logo {
  position: absolute;
  right: 30px;
}

/* .MuiFab-root {
  position: absolute;
  bottom: 15px;
  right: 20px;
  background-color: #086972;
} */

.legend {
  /* display: block; */
  position: fixed;
  bottom: 30px;
  right: 20px;
}

.legend__icon {
  color: white;
}

.cell {
  padding: 10px 8px;
  display: table-cell;
  text-align: center;
  align-content: center;
  position: relative;
}

@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}

.tag {
  position: relative;
  /* padding-left: 10px; */
  text-align: center;
  padding-left: 10px;
}

.danger::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF2727;
  width: 10px;
  height: 45px;
  display: block;
  /* border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-top: 20px solid #f00; */
}
.good::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 45px;
  display: block;
  background-color: #086972;
  /* border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-top: 20px solid #086972; */
}
.warning::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 45px;
  background-color: #EEBC09;
  display: block;
  /* border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;

  border-top: 20px solid #f8d50b; */
}
.mark:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  display: block;
  border-left: 20px solid transparent;
  border-top: 20px solid transparent;

  border-bottom: 20px solid #f00;
}

.button {
  background-color: #2076e6; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}

.date {
  font-size: 18px;
  font-weight: 600;
  color: #727b80;
  padding-left: 15px;
  padding-bottom: 15px;
}

/* .new-tooltip span { */
.tooltip {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 50%;
  bottom: 80%;
  margin-left: -60px;
  cursor: pointer;
}

.new-tooltip:hover span {
  visibility: visible;
}

.pagination {
  margin: 10px auto;
  position: relative;
  height: 80px;
  color: #071A52;
}

.controls {
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
}

.controls button {
  background: #17b978;
  color: white;
  border-radius: 6px;
  height: 24px;
  width: 36px;
}

.controls span {
  margin: 0px 4px;
}

.goto {
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translate(-50%,0);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#input_page {
  -moz-appearance: textfield;
  width: 30px;
  color: #071A52;
  text-align: center;
}

select {
  background: #17b978;
  color: white;
  padding: 2px 3px;
}

select option{
  background: white;
  color: #071A52;
}

.nodata {
  padding-top: 100px;
  text-align: center;
}



