.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 15px auto 10px;
  padding: 0;
  border-radius: 300px;
  background: #17b978;
  width: 270px;
}

.react-tabs__tab {
  display: inline-block;
  width: 66px;
  /* border: 1px solid transparent; */
  border-bottom: none;
  bottom: -1px;
  position: relative;
  list-style: none;
  padding: 10px 12px;
  cursor: pointer;
  text-align: center;
  color: white;
  font-size: 16px;
}

.react-tabs__tab--selected {
  background: #086972;
  box-shadow: 0 2px 4px rgba(8, 105, 114, 0.8);
  border-radius: 300px;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px hsl(208, 99%, 50%);
  border-color: hsl(208, 99%, 50%);
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
