<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<style>
		.table-container {
			display: table-cell;
			vertical-align: top;
			max-width: 350px;
			width: 350px;
		}

		@media (max-width: 600px) {
			.table-container {
				display: initial;
			}
		}
	</style>
</head>

<body>
	<div>
		<div id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-section-1"
			style="
					color: rgb(35, 73, 109);
					font-family: Arial, sans-serif;
					font-size: 15px;
					padding-left: 10px;
					padding-right: 10px;
					padding-top: 20px;
				">
			<div bgcolor="#D9D2E9" style="
						max-width: 600px;
						min-width: 280px;
						margin-left: auto;
						margin-right: auto;
						border-collapse: collapse;
						border-spacing: 0px;
						border-left: 1px solid rgb(234, 240, 246);
						border-right: 1px solid rgb(234, 240, 246);
						box-sizing: border-box;
						border-top: 1px solid rgb(234, 240, 246);
						background-color: rgb(217, 210, 233);
					">
				<div style="
							padding: 10px 20px;
							height: 3rem;
							overflow: hidden;
							display: table-cell;
							float: right;
						">
					<img src="https://yubihealth-media.s3.amazonaws.com/Logos/Empwr.Life-tiny.png" alt="" style="height: 100%" />
				</div>

				<div
					id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-column-1-0"
					>
					<table role="presentation" cellpadding="0" cellspacing="0" width="100%"
						style="border-collapse: collapse; border-spacing: 0px">
						<tbody>
							<tr>
								<td style="
											font-family: Arial, sans-serif;
											border-collapse: collapse;
											word-break: break-word;
											padding: 10px 20px;
										">
									<div
										id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-hs_cos_wrapper_module-1-0-0"
										style="
												color: inherit;
												font-size: inherit;
												line-height: inherit;
											">
										<div
											id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-hs_cos_wrapper_module-1-0-0_"
											style="
													color: inherit;
													font-size: inherit;
													line-height: inherit;
												">
											<p style="margin: 0px 0px 10px; line-height: 26.25px">
												Hi {{USER_NAME}}
											</p>
											<p style="margin: 0px 0px 10px; line-height: 26.25px">
												Let's take your health goals to another level!&nbsp;
											</p>
											<p style="margin: 0px 0px 10px; line-height: 26.25px">
												Download and activate your account by using the links
												below.
											</p>

											<div style="
														display: flex;
														margin-bottom: 1rem;
													">
												<div style="
															font-family: Arial, sans-serif;
															border-collapse: collapse;
															word-break: break-word;
															border-radius: 14px;
															background-color: rgb(105, 168, 79);
															width: 100%;
															margin-right: 0.5rem;
														">
													<a href="https://play.google.com/store/apps/details?id=com.auth0.yubihealth&amp;utm_campaign=Not%20signed%20up%20user%20reminder%20email&amp;utm_source=hs_email&amp;utm_medium=email&amp;_hsenc=p2ANqtz-9vfuQ6G7lOHa-ZmKSTuyQ6nbiDq1q5Ma6iNjcFm3Xkxco-wof40HcvId3UUnVV4uqj3kj5"
														style="
																color: rgb(0, 164, 189);
																text-decoration-line: none;
																font-size: 14px;
																margin: 0px;
																padding: 12px 18px;
																display: block;
																text-align: center;
															" target="_blank"
														data-saferedirecturl="https://www.google.com/url?q=https://play.google.com/store/apps/details?id%3Dcom.auth0.yubihealth%26utm_campaign%3DNot%2520signed%2520up%2520user%2520reminder%2520email%26utm_source%3Dhs_email%26utm_medium%3Demail%26_hsenc%3Dp2ANqtz-9vfuQ6G7lOHa-ZmKSTuyQ6nbiDq1q5Ma6iNjcFm3Xkxco-wof40HcvId3UUnVV4uqj3kj5&amp;source=gmail&amp;ust=1650443527444000&amp;usg=AOvVaw1h-wd6DS3YBtlo73GmjYWE"><span
															style="color: rgb(255, 255, 255)">Android app</span></a>
												</div>

												<div valign="middle" bgcolor="#69A84F" role="presentation" style="
															font-family: Arial, sans-serif;
															border-collapse: collapse;
															word-break: break-word;
															border-radius: 15px;
															background-color: rgb(105, 168, 79);
															width: 100%;
															margin-left: 0.5rem;
														">
													<a href="https://apps.apple.com/us/app/empwr-health/id1547747616?utm_campaign=Not%20signed%20up%20user%20reminder%20email&amp;utm_source=hs_email&amp;utm_medium=email&amp;_hsenc=p2ANqtz-9vfuQ6G7lOHa-ZmKSTuyQ6nbiDq1q5Ma6iNjcFm3Xkxco-wof40HcvId3UUnVV4uqj3kj5"
														style="
																color: rgb(0, 164, 189);
																text-decoration-line: none;
																font-size: 16px;
																margin: 0px;
																padding: 12px 18px;
																display: block;
																text-align: center;
															" target="_blank"
														data-saferedirecturl="https://www.google.com/url?q=https://apps.apple.com/us/app/empwr-health/id1547747616?utm_campaign%3DNot%2520signed%2520up%2520user%2520reminder%2520email%26utm_source%3Dhs_email%26utm_medium%3Demail%26_hsenc%3Dp2ANqtz-9vfuQ6G7lOHa-ZmKSTuyQ6nbiDq1q5Ma6iNjcFm3Xkxco-wof40HcvId3UUnVV4uqj3kj5&amp;source=gmail&amp;ust=1650443527444000&amp;usg=AOvVaw2MhdIyZDyU_qoo0WkCWa45"><span
															style="color: rgb(255, 255, 255)">iOS app&nbsp;</span></a>
												</div>
											</div>

											<br style="margin: 0px 0px 10px; line-height: 26.25px">
											Activation link:
											<a href="https://yubihealth.page.link/?link=https://yubihealth.com/?code%3D{{INVITE_CODE}}&apn=com.auth0.yubihealth&afl=https://play.google.com/store/apps/details?id%3Dcom.auth0.yubihealth&isi=1547747616&ibi=com.auth0.yubiHealth" target="_blank">
												Click Here
											</a>
											<br>
											<span style='font-size: 80%;'>(Click on this link to activate your account directly
												on your mobile phone)</span>
											</p>
											<p style="margin: 0px 0px 10px; line-height: 26.25px">
												or use this activation code
												<span style="color: black; font-weight: 700">{{INVITE_CODE}}</span>
											</p>
											<p style="margin: 0px 0px 10px; line-height: 26.25px">
												<span style="color: inherit; font-size: 0.75rem; color: rgb(105, 168, 79);">*We ensure your data
													is secure and is not shared
													with anyone without your consent.</span><br />
											</p>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div
			id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-section_1646774758899"
			style="
					color: rgb(35, 73, 109);
					font-family: Arial, sans-serif;
					font-size: 15px;
					padding-left: 10px;
					padding-right: 10px;
				">
			<div bgcolor="#D9D2E9" style="
						max-width: 600px;
						min-width: 280px;
						margin-left: auto;
						margin-right: auto;
						border-collapse: collapse;
						border-spacing: 0px;
						border-left: 1px solid rgb(234, 240, 246);
						border-right: 1px solid rgb(234, 240, 246);
						box-sizing: border-box;
						background-color: rgb(217, 210, 233);
					">
				<div
					id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-column_1646774758899_0"
					class="table-container">
					<table role="presentation" cellpadding="0" cellspacing="0" width="100%"
						style="border-collapse: collapse; border-spacing: 0px">
						<tbody>
							<tr>
								<td style="
											font-family: Arial, sans-serif;
											border-collapse: collapse;
											word-break: break-word;
											padding: 10px 20px;
										">
									<div
										id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-hs_cos_wrapper_module_16467747705983"
										style="
												color: inherit;
												font-size: inherit;
												line-height: inherit;
											">
										<div
											id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-hs_cos_wrapper_module_16467747705983_"
											style="
													color: inherit;
													font-size: inherit;
													line-height: inherit;
												">
											<p style="margin: 0px; line-height: 26.25px">
												EMPWR&nbsp;<span style="color: inherit; font-size: inherit">integrates all facets of your health
													resulting
													in</span><span style="color: inherit; font-size: inherit">:</span>
											</p>
											<ul style="line-height: 26.25px">
												<li>Improved mood</li>
												<li>Reduced feeling of stress or anger</li>
												<li>Improved physical health</li>
												<li>Confidence and self-esteem</li>
												<li>Being more active</li>
												<li>Developing new skills</li>
											</ul>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div
					id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-column_1646774758899_1"
					style="
							display: table-cell;
							vertical-align: top;
							max-width: 250px;
							width: 250px;
						">
					<div
						id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-hs_cos_wrapper_module_16467747929144"
						style="color: inherit; font-size: inherit; line-height: inherit">
						<table role="presentation" width="100%" cellpadding="0" cellspacing="0"
							style="border-collapse: collapse; border-spacing: 0px">
							<tbody>
								<tr>
									<td align="center" valign="top" style="
												font-family: Arial, sans-serif;
												border-collapse: collapse;
												word-break: break-word;
												padding: 10px 20px;
												font-size: 0px;
											">
										<img alt="AppImage6.png"
											src="https://ci4.googleusercontent.com/proxy/A_XsjW6d4i1TnRSUW0YwuwJLDxALqj8q3f1-ljjTywvWal50m1TDg-OAx4ti3T8S8WWtHX_jWpWKq60KvLdenS-vN_TVL3x_cfsp-Igwy2YzdX4KjP0Sp1VE_EVo=s0-d-e1-ft#https://hs-6544278.f.hubspotemail.net/hub/6544278/hubfs/AppImage6.png.webp"
											width="189" align="middle" style="outline: none; max-width: 100%; font-size: 16px"
											class="CToWUd a6T" tabindex="0" />
										<div class="a6S" dir="ltr" style="opacity: 0.01; left: 530.953px; top: 1371px">
											<div id=":86u" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" title="Download" role="button" tabindex="0"
												aria-label="Download attachment " data-tooltip-class="a1V">
												<div class="akn">
													<div class="aSK J-J5-Ji aYr"></div>
												</div>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<div
			id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-section_1646849798441"
			style="
					color: rgb(35, 73, 109);
					font-family: Arial, sans-serif;
					font-size: 15px;
					padding-left: 10px;
					padding-right: 10px;
				">
			<div bgcolor="#D9D2E9" style="
						max-width: 600px;
						min-width: 280px;
						margin-left: auto;
						margin-right: auto;
						border-collapse: collapse;
						border-spacing: 0px;
						border-left: 1px solid rgb(234, 240, 246);
						border-right: 1px solid rgb(234, 240, 246);
						box-sizing: border-box;
						background-color: rgb(217, 210, 233);
					">
				<div
					id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-column_1646849798442_0"
					style="display: table-cell; vertical-align: top; max-width: 600px">
					<table role="presentation" cellpadding="0" cellspacing="0" width="100%"
						style="border-collapse: collapse; border-spacing: 0px">
						<tbody>
							<tr>
								<td style="
											font-family: Arial, sans-serif;
											border-collapse: collapse;
											word-break: break-word;
											padding: 10px 20px;
										">
									<div
										id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-hs_cos_wrapper_module_16468498065273"
										style="
												color: inherit;
												font-size: inherit;
												line-height: inherit;
											">
										<div
											id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-hs_cos_wrapper_module_16468498065273_"
											style="
													color: inherit;
													font-size: inherit;
													line-height: inherit;
												">
											<p style="margin: 0px; line-height: 26.25px">
												<span style="color: rgb(0, 0, 0)">Please do not hesitate to contact us if you have
													any further questions.</span>
											</p>
											<p style="margin: 0px; line-height: 26.25px">&nbsp;</p>
											<p style="margin: 0px; line-height: 26.25px">
												<span style="color: rgb(0, 0, 0)">Kindest regards,</span>
											</p>
											<p style="margin: 0px; line-height: 26.25px">&nbsp;</p>
											<p style="margin: 0px; line-height: 26.25px">
												<span style="color: rgb(0, 0, 0)">Your Empwr.Life Support Team</span>
											</p>
											<p style="margin: 0px; line-height: 26.25px">
												<span style="color: rgb(105, 168, 79)"><em>Empower people to live meaningful lives.</em></span>
											</p>
											<p style="margin: 0px; line-height: 26.25px">&nbsp;</p>
											<p style="margin: 0px; line-height: 26.25px">
												<span style="color: rgb(0, 0, 0)">You can contact us
													using&nbsp;hello@empwr.life&nbsp;or using the chat
													feature on your app.</span>
											</p>
											<p style="margin: 0px; line-height: 26.25px">
												<span style="color: rgb(0, 0, 0)">Support Hours are Weekdays from 8 am to 5 pm
													CST.</span>
											</p>
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-section-2"
			style="
					color: rgb(35, 73, 109);
					font-family: Arial, sans-serif;
					font-size: 15px;
					padding-left: 10px;
					padding-right: 10px;
					padding-bottom: 20px;
				">
			<div style="
						max-width: 600px;
						min-width: 280px;
						margin-left: auto;
						margin-right: auto;
						border-collapse: collapse;
						border-spacing: 0px;
						border-left: 1px solid rgb(234, 240, 246);
						border-right: 1px solid rgb(234, 240, 246);
						box-sizing: border-box;
						border-bottom: 1px solid rgb(234, 240, 246);
						padding-bottom: 20px;
						padding-top: 20px;
					">
				<div
					id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-column-2-0"
					style="
							display: table-cell;
							vertical-align: top;
							max-width: 600px;
							width: 600px;
						">
					<div
						id="m_-7948511629225668799m_4888857052440202453m_8134388055609559748gmail-m_2817931580976613461gmail-hs_cos_wrapper_module-2-0-0"
						style="color: inherit; font-size: inherit; line-height: inherit">
						<table role="presentation" width="100%" cellpadding="0" cellspacing="0" style="
									border-collapse: collapse;
									font-size: 12px;
									line-height: 16.2px;
									margin-bottom: 0px;
									padding: 0px;
									border-spacing: 0px;
								">
							<tbody>
								<tr>
									<td align="center" valign="top" style="
												font-family: Arial, sans-serif;
												border-collapse: collapse;
												font-size: 15px;
												word-break: break-word;
												text-align: center;
												line-height: 20.25px;
												padding: 10px 20px;
											">
										<p dir="lrt" style="text-align: left; margin: 0px; font-size: 12px">
											YubiHealth, Inc., 2550 West Union Hills Drive., Suite
											350, Phoenix, AZ 85027, USA
										</p>
										<p style="text-align: left; margin: 0px">
											<a href="https://hs-6544278.s.hubspotemail.net/hs/manage-preferences/unsubscribe-all-test?languagePreference=en&amp;d=VmYj6Y6K9wgvVKgD3Q3_YlyBW2m3bL73_YlyBN1JxwY5GKd_PM20N7LdjsDnW6lfg-P5k-mBQw6SLjCpHs01&amp;v=3&amp;utm_campaign=Not%20signed%20up%20user%20reminder%20email&amp;utm_source=hs_email&amp;utm_medium=email&amp;_hsenc=p2ANqtz-9vfuQ6G7lOHa-ZmKSTuyQ6nbiDq1q5Ma6iNjcFm3Xkxco-wof40HcvId3UUnVV4uqj3kj5"
												style="
														color: rgb(0, 164, 189);
														font-family: Helvetica, Arial, sans-serif;
														font-size: 12px;
													" target="_blank"
												data-saferedirecturl="https://www.google.com/url?q=https://hs-6544278.s.hubspotemail.net/hs/manage-preferences/unsubscribe-all-test?languagePreference%3Den%26d%3DVmYj6Y6K9wgvVKgD3Q3_YlyBW2m3bL73_YlyBN1JxwY5GKd_PM20N7LdjsDnW6lfg-P5k-mBQw6SLjCpHs01%26v%3D3%26utm_campaign%3DNot%2520signed%2520up%2520user%2520reminder%2520email%26utm_source%3Dhs_email%26utm_medium%3Demail%26_hsenc%3Dp2ANqtz-9vfuQ6G7lOHa-ZmKSTuyQ6nbiDq1q5Ma6iNjcFm3Xkxco-wof40HcvId3UUnVV4uqj3kj5&amp;source=gmail&amp;ust=1650443527444000&amp;usg=AOvVaw0QVKSqo-lB0YAB2FvsWuna">Unsubscribe</a>&nbsp;<a
												href="https://hs-6544278.s.hubspotemail.net/hs/manage-preferences/unsubscribe-test?languagePreference=en&amp;d=VmYj6Y6K9wgvVKgD3Q3_YlyBW2m3bL73_YlyBN1JxwY5GKd_PM20N7LdjsDnW6lfg-P5k-mBQw6SLjCpHs01&amp;v=3&amp;utm_campaign=Not%20signed%20up%20user%20reminder%20email&amp;utm_source=hs_email&amp;utm_medium=email&amp;_hsenc=p2ANqtz-9vfuQ6G7lOHa-ZmKSTuyQ6nbiDq1q5Ma6iNjcFm3Xkxco-wof40HcvId3UUnVV4uqj3kj5"
												style="
														color: rgb(0, 164, 189);
														font-family: Helvetica, Arial, sans-serif;
														font-size: 12px;
													" target="_blank"
												data-saferedirecturl="https://www.google.com/url?q=https://hs-6544278.s.hubspotemail.net/hs/manage-preferences/unsubscribe-test?languagePreference%3Den%26d%3DVmYj6Y6K9wgvVKgD3Q3_YlyBW2m3bL73_YlyBN1JxwY5GKd_PM20N7LdjsDnW6lfg-P5k-mBQw6SLjCpHs01%26v%3D3%26utm_campaign%3DNot%2520signed%2520up%2520user%2520reminder%2520email%26utm_source%3Dhs_email%26utm_medium%3Demail%26_hsenc%3Dp2ANqtz-9vfuQ6G7lOHa-ZmKSTuyQ6nbiDq1q5Ma6iNjcFm3Xkxco-wof40HcvId3UUnVV4uqj3kj5&amp;source=gmail&amp;ust=1650443527444000&amp;usg=AOvVaw1wc423WA-uhisw0RS6-mzW">Manage
												preferences</a>
										</p>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>