.chart__loading__chart {
  height: 80px;
  width: 100px;
  /* background-color: lightgray; */
  border-bottom: 4px solid #4861793d;
  border-left: 4px solid #48617936;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.bar {
  width: 20px;
  /* height: 60px; */
  background-color: #48617938;
}

.bar1 {
  height: 40%;
  animation: bar1 1.2s linear infinite;
}
.bar2 {
  height: 20%;
  animation: bar2 1.2s linear infinite;
}
.bar3 {
  height: 80%;
  animation: bar3 1.2s linear infinite;
}
.bar4 {
  height: 60%;
  margin-right: 8px;
  animation: bar4 1.2s linear infinite;
}

@keyframes bar1 {
  0% {
    height: 40%;
  }
  25% {
    height: 70%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 70%;
  }
  100% {
    height: 40%;
  }
}
@keyframes bar2 {
  0% {
    height: 20%;
  }
  25% {
    height: 60%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 60%;
  }
  100% {
    height: 20%;
  }
}
@keyframes bar3 {
  0% {
    height: 80%;
  }
  25% {
    height: 90%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 90%;
  }
  100% {
    height: 80%;
  }
}
@keyframes bar4 {
  0% {
    height: 60%;
  }
  25% {
    height: 80%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 80%;
  }
  100% {
    height: 60%;
  }
}
