.outer__dashboard__container {
  height: calc(100vh - 20px);
}

.searchbar__container {
  margin: 0px 20px 15px 20px;
  border-radius: 8px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.dasboard__container {
  padding: 0 1rem 0.4rem 1rem;
  display: flex;
  flex-direction: column;
  height: calc(100% - 75px);
  /* border: 1px solid green; */
}

.dashboard__header {
  display: flex;
  align-items: center;
}

.action_btn {
  margin-left: 1.2rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: #040618;
}

.action_btn:hover {
  transform: scale(1.1);
}

.activated {
  color: #109375 !important;
  border-bottom: 4px solid !important;
  padding-bottom: 0.2rem !important;
}

.charts__container {
  /* border: 1px solid lightgray; */
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
}

.chart__cell {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.date__input {
  margin-left: 0.4rem;
  padding: 3px;
  border-radius: 3px;
  color: #109375;
  border: 2px solid #109375;
  outline-width: 0;
}

.action__apply {
  background-color: #13a477;
  font-size: large;
  color: white;
  border: none;
  margin-left: 1rem;
  padding: 0.4rem 1rem;
  font-weight: 600;
  margin-right: 0.6rem;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  outline: none;
}

.action__apply:hover {
  transform: scale(1.02);
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
}

.alert__container {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  padding: 1rem;
  background-color: coral;
  border: 2px solid #7a2f14;
  border-radius: 10px;
  font-size: x-large;
  font-weight: 500;
  color: #50200e;

  display: flex;
  align-items: center;
}

.alert__container > span {
  margin-left: 1rem;
  margin-right: 5rem;
}

.alert__container > img {
  height: 28px;
  object-fit: contain;
}

.not__found__container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.not__found__container > img {
  height: 50vh;
  object-fit: contain;
  max-width: 90vw;
}

.not__found__container > p {
  font-size: larger;
  font-weight: 500;
}

.initial__chart__loading__container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: center;
  align-items: center;
}

.initial__chart__loading__container > p {
  margin-top: 1rem;
}

.no-result {
  padding: 0px 10px;
  padding-bottom: 3px;
}

.searchList {
  text-align: left;
  padding: 0px 10px;
  padding-bottom: 3px;
}

.searchList p {
  color: #071a52;
  font-size: 16px;
  padding-bottom: 3px;
  padding-left: 1rem;
}

.search-email {
  color: rgba(7, 26, 82, 0.7);
  font-size: 14px;
  padding-left: 10px;
}

.searchList p:hover {
  cursor: pointer;
  background-color: #f0fff0;
}

.selectors {
  display: flex;
  align-items: center;
}

@media all and (max-width: 1400px) {
  .selectors {
    flex-direction: column;
    align-items: flex-start;
  }
  .date_selectors {
    margin-top: 0.6rem;
  }
}
