.sidebar {
    font-family: 'Work Sans', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 320px;
    background-color: #fff;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
        margin-top: 5px;
    }

    &__logo img {
        display: inline-block;     
    }

    &__logo h1 {
        position: relative;
        color: #0ab6ac;
        padding-left: 10px;
    }

    &__menu {
        position: relative;

        &__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 1rem 3rem;
            font-size: 1.25rem;
            font-weight: 500;
            color: #071A52;
            transition: color 0.3s ease-in-out;

            &.active {
                color: #fff;
            }

            &__icon {
                margin-right: 1rem;
            }
        }

        &__indicator {
            position: absolute;
            top: 0;
            left: 50%;
            width: calc(100% - 40px);
            border-radius: 10px;
            background-image: linear-gradient(#086972, #17B978);
            // background-color: #308efe;
            // background-color: linear-gradient(#086972, #17B978);
            z-index: -1;
            transform: translateX(-50%);
            transition: 0.3s ease-in-out;
        }
    }

    &__footer {
        position: absolute;
        bottom: 20px;

        &__item {
            display: flex;
            align-items: center;
            place-content: flex-start;
            padding: 1rem 3rem;
            font-size: 1.2rem;
            font-weight: 600;
            color: rgba($color: (#071A52), $alpha: 0.8);
            transition: color 0.3s ease-in-out;           
        }

        &__icon {
            margin-left: 10px;
            opacity: 0.8;
        }

        &__item:hover {
            cursor: pointer;
        }
    }
}