.color-block {
    display: inline-block;
    height: 20px;
    width: 30px;
    margin-right:  10px;
}

.mapping-value {
    display: inline;
}

.mapping {
    display: flex;
    align-items: center;
}

.content {
    color: #071A52;
}

.close-icon {
    position: fixed;
    top: 15px;
    right: 20px;
    height: 24px;
    width: 24px;
}