.signup-container {
  display: flex;
  /*border: 1px solid;*/
  height: calc(100vh - 20px);
  justify-content: center;
  align-items: center;
  background-color: #f6f7fb;
  flex-direction: column;
}

.signup-form {
  display: flex;
  background-color: white;
  flex-direction: column;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  width: 280px;
}

.signup-form-logo {
  height: 80px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.signup-input {
  padding: 10px;
  outline-width: 0;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.signup-form > label {
  font-size: small;
  font-weight: 500;
  color: #071a52;
}

.signup-btn {
  padding: 12px;
  margin-top: 20px;
  border: none;
  font-size: large;
  font-weight: 600;
  /*background-color: #17b978;*/
  border-radius: 5px;
  color: white;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #367473, #17b978);
}
.signup-btn:hover {
  transform: scale(1.01);
}

.errorMsg {
  border: 1px solid #dc2626;
  color: #dc2626;
  padding: 5px;
  border-radius: 3px;
  font-size: small;
  background-color: #fee2e2;
  margin-top: 5px;
  text-align: center;
}
